<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} RonDelivery {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='fotos_app/' ~ ('ronic.png')) }}" type="image/x-icon">
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('empresa.e_perfil', id_empresa=empresa_logada.id) }}" class="navbar-item">Perfil da Empresa</a>
            <a href="{{ url_for('empresa.add_produtos', id_empresa=empresa_logada.id) }}" class="navbar-item">Cardápio</a>
            <!-- <a href="{{ url_for('geral.sobre') }}" class="navbar-item">Sobre Nós</a> -->
            <a href="{{ url_for('empresa.logout_empresa') }}" class="navbar-item">Sair</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
           
            <footer>
                <p>&copy; Faccin Engenharia e Tecnologia 2025</p>
            </footer>
        </div>
    </body>
</html>
