{% extends "empresa/e_layout.html" %}
{% block title %}
{{ empresa_logada.username }} - Perfil
{% endblock %}
{% block content %}
<h2>  Ordens </h2>
  <p>Olá, {{ empresa_logada.username }}</p>

  <form action="{{ url_for('empresa.toggle_status', empresa_id=empresa.id)}}" method="post">
    <button type="submit">
        {{'Aberto' if empresa.aberto else 'Fechado'}}
    </button>
  </form>

<ul>
    {% for order in orders %}
        <li>Pedido #{{ order.id }} em {{ order.criacao }}</li>
    {% else %}
        <li> Nenhum pedido encontrado.</li>
    {% endfor %}
</ul>

<a href="{{ url_for('empresa.logout_empresa')}}"> Sair </a>
{% endblock %}