{% extends "empresa/e_layout.html" %}
{% block title %}
Rondofood - Produtos
{% endblock %}
{% block content %}
<h2>{{ empresa_logada.username }} - Produtos </h2>




{% if form %}
<h3> Adicionar novo produto</h3>
<form method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}
    {{form.nome.label}} {{form.nome() }} <br>
    {{form.descricao.label}} {{form.descricao() }} <br>
    {{ form.preco.label }} {{ form.preco() }}<br>
    {{ form.imagem.label }} {{ form.imagem() }}<br>
    {{ form.botao_confirmacao }}
</form>
{% endif %}

<ul>
    {% for produto  in produtos %}
    <li>
    <img src="{{ url_for('static', filename='fotos_prod/{}'. format(produto.imagem))}}" width="200" alt="{{ produto.name }}">
    <strong>{{ produto.name }}</strong> – R$ {{ "%.2f"|format(produto.price) }}
    </li>
    {% endfor %}
</ul>

{% endblock %}


<!-- adicionar opção para editar itens -->