<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} RonDelivery {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('e_perfil') }}" class="navbar-item">Perfil da Empresa</a>
            <a href="{{ url_for('add_produtos') }}" class="navbar-item">Adicionar Produtosl</a>
            <a href="{{ url_for('sobre') }}" class="navbar-item">Sobre Nós</a>
            <a href="{{ url_for('logout_empresa') }}" class="navbar-item">Sair</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; Faccin Engenharia e Tecnologia 2025</p>
            </footer>
        </div>
    </body>
</html>
