<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} Capim Limão {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('homepage') }}" class="navbar-brand">💡Home</a>
            <a href="{{ url_for('carrinho') }}" class="navbar-item">🛒 Carrinho</a>
            <a href="{{ url_for('perfil') }}" class="navbar-item">Perfil</a>
            <a href="{{ url_for('sobre') }}" class="navbar-item">Sobre Nós</a>
            <a href="{{ url_for('logout') }}" class="navbar-item">Sair</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; Faccin Engenharia e Tecnologia 2025</p>
            </footer>
        </div>
    </body>
</html>
