{% extends "layout.html" %}
{% block title %}
RonDelivery
{% endblock %}
{% block content %}
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio aperiam quas rerum non, consequatur rem recusandae dolorem illum laborum sunt aliquam tempore beatae explicabo eius, a quam impedit eveniet? Culpa quas quaerat odit illo at fuga, voluptatibus sequi, rerum, autem eum quibusdam ut? Cupiditate, earum. Eaque quae similique exercitationem reprehenderit iusto! </p>
{% endblock %}

