<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} RonDelivery {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('geral.homepage') }}">Home</a>
            <a href="{{ url_for('geral.sobre') }}" class="navbar-item">Sobre Nós</a>
        </div>
        
            <div class="body-content">
            {% block content %}
            {% endblock %}
            
            <footer>
                <p>&copy; Faccin Engenharia e Tecnologia 2025</p>
            </footer>
        </div>
    </body>
</html>