.navbar {
    background-color: rgba(203, 115, 82, 1);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family: 'Merriweather', Georgia, serif; /* mais calor humano e seriedade */
    font-size: 1.2rem; /* maior legibilidade sem exagero */
    background-color: rgba(0, 102, 51, 1); /* verde bandeira */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgba(248, 240, 222, 1); /* tom creme claro para contraste confortável */
}


html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center;     /* horizontal */
    min-height: 100vh;
}
